@import-normalize;

:root {
    --color-naples-yellow: #F9DB6D;
    --color-blue: #464D77;
    --color-blue-dark: #353A5A;
    --color-teal: #36827F;
    --color-teal-dark: #1E4847;
    --color-snow: #F4EDED;
    --color-snow-translucent: rgba(244, 237, 237, 0.5);
    --color-snow-dark: #E0CCCC;
    --color-beaver: #877666;
    --color-beaver-dark: #695B4F;
    --color-rose: #AA7474;
    --color-rose-dark: #8B5555;
}

html {
    box-sizing: border-box;
    font-family: Fredoka;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

ul {
    list-style: none;
}

p, ul, h1, h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}




